.DS_Store

## User settings
xcuserdata/

.build/

### SwiftPackageManager ###
Packages
xcuserdata
#*.xcodeproj

### Xcode Patch ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
